

body {font-family:'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
background-color: #FFFFFF;
color: #434455;}
/* ul {
    list-style: none;

}*/
/* a {
    text-decoration: none;

}*/


p,h1,h2,h3,h4,h5,h6 {margin-top: 0;
margin-bottom: 0;}
ul,ol {margin-top: 0;
margin-bottom: 0;
padding-left: 0;}
ul {
list-style: none;
}
a {text-decoration: none;}
img {display: block;}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;}

.header-logo-navyblue{
    color: #2E2F42;}

.header-menu {

}
.hero-ord-bth:hover,
.hero-ord-bth:focus {background-color:#404bbf;
    color: #FFFFFF;}




.header-menu-link:hover,
.header-menu-link:focus {color: #404bbf; }
.header-cont {font-style: normal;}

.header-cont-iteam-link:hover,
.header-cont-iteam-link:focus {color: #404bbf;}

.header-menu-link {
    color: #2E2F42;;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;}

    
    
.header-cont-iteam-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;}

        .hero {
    
            background: #2E2F42;
            padding: 144px, 402px, 160px, 402px;
        
        }
    
        .hero-container {
            padding-bottom: 88px;
        }

.hero-title{ color: #FFFFFF;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        font-family: "Roboto", sans-serif;
        cursor: pointer;
        margin-bottom: 32px;
        max-width: 496px;
        }


.hero-ord-bth { background: #4D5AE5;
    color: #FFFFFF;
    font-family: "Roboto",
        sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
    }

    .features-subtitle{
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
    margin-bottom: 18;}
    
   
     
        
.feature-iteam-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
   }
.team {background-color: #F4F4FD;
padding-top: 120px;}
   .team-iteam {background-color:#FFFFFF }
        .team-img {margin-bottom: 36;}

   .team-title {
    color: #2E2F42; ;
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 50;
        
   }
    .team-subtitle  {
        color: #2E2F42;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
            
    }

.team-iteam-text {

color:#434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
.made {padding-top: 120px;}
.made-title  { color: #2E2F42;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    }

.made-subtitle { color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
font-style: normal;
}

.made-iteam-text {color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    }

    .footer { background-color: #2E2F42;
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    text-transform: uppercase;
padding-top: 50;
padding-bottom: 86;}
        
    .footer-logo { color:#4D5AE5;
        
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
       }
    .footer-logo-cloud {color:#F4F4FD;
        
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        }
    .footer-text-descr { color: #F4F4FD;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-style: normal;
     max-width: 400px;
        }